@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(25, 25, 25);
}

.colour {
    background-color: rgb(45, 41, 41);
    border-radius: 15px;
    /* border: 2px solid rgb(52, 52, 52);  */
}

.colours {
    background-color: rgb(0, 0, 0);
}

.borders {
    border: 2px solid rgb(52, 52, 52)
}

html {
    background-color: unset !important;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-gradient {
    animation: gradient 3s ease-in-out infinite;
  }
  